body {
	background: url(/test/imgs/mask2.jpg) no-repeat center center fixed;
}

.test {
	position: fixed;
	top: 400px;
	left: 550px;
	width: 500px;
	height: 380px;
	/*border: 3px solid #73AD21;*/
	box-shadow: 0 0 50px 20px #333;
}
